* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(54, 35, 12);
  z-index: 101;
}

.profile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(109, 127, 128);
  border: 2px solid white;
  box-shadow: 2px 2px 8px 2px rgba(253, 252, 252, 0.7);
}

.face {
  position: relative;
  left: 47px;
  top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 5;
  background-color: rgb(228, 185, 177);
}

.eye {
  position: relative;
  width: 40px;
  height: 40px;
  left: 50px;
  top: 50px;
  border-radius: 50%;
  z-index: 6;
  background-color: black;
}

.eye-right {
  position: relative;
  top: 10px;
  left: 120px;
}

.inner {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: rgb(240, 237, 233);
  top: 16px;
  border-radius: 50%;
}

.nose {
  position: relative;
  left: 98px;
  top: 20px;
  z-index: 182;
  background-color: rgb(134, 32, 49);
  border-radius: 10px;
}

.lips {
  position: relative;
  height: 90px;
  width: 60px;
  left: 75px;
  top: -25px;
  border-radius: 25px;
  border-bottom: 5px solid black;
}

.neck {
  position: relative;
  left: 127px;
  top: 12px;
  z-index: 101;
  height: 35px;
  width: 40px;
  border-radius: 30%;
  background-color: rgb(228, 185, 177);
}

.body {
  position: relative;
  left: 66px;
  width: 160px;
  height: 63px;
  z-index: 100;
  border-radius: 50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-color: springgreen;
}
